<?xml version="1.0"?>
<config>
    <modules>
        <Devils_Auth>
            <version>0.1.1</version>
        </Devils_Auth>
    </modules>
    <global>
        <blocks>
            <devils_auth>
                <class>Devils_Auth_Block</class>
            </devils_auth>
        </blocks>
        <resources>
            <devils_auth_setup>
                <setup>
                    <module>Devils_Auth</module>
                </setup>
            </devils_auth_setup>
        </resources>
        <models>
            <devils_auth>
                <class>Devils_Auth_Model</class>
                <resourceModel>devils_auth_resource</resourceModel>
            </devils_auth>
            <devils_auth_resource>
                <class>Devils_Auth_Model_Resource</class>
                <entities>
                    <auth_source>
                        <table>devils_auth_customer_entity</table>
                    </auth_source>
                </entities>
            </devils_auth_resource>
        </models>
        <helpers>
            <devils_auth>
                <class>Devils_Auth_Helper</class>
            </devils_auth>
        </helpers>
        <!--
        <rewrite>
            <auth_url>
                <from><![CDATA[/auth\/step(\d+)\/(\d+)]]></from>
                <to>auth/index/step$1/handler/$2</to>
            </auth_url>
        </rewrite>
        -->
    </global>
    <frontend>
        <routers>
            <devils_auth>
                <use>standard</use>
                <args>
                    <module>Devils_Auth</module>
                    <frontName>auth</frontName>
                </args>
            </devils_auth>
        </routers>
        <default>
            <router>devils_auth</router>
        </default>
        <layout>
            <updates>
                <devils_auth>
                    <file>devils/auth.xml</file>
                </devils_auth>
            </updates>
        </layout>
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Devils_Auth after="Mage_Adminhtml">Devils_Auth_Adminhtml</Devils_Auth>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <devils_auth>
                    <file>devils/auth.xml</file>
                </devils_auth>
            </updates>
        </layout>
    </adminhtml>
    -->
    <default>
        <devils_auth>
            <general>
                <display>0</display>
            </general>
            <facebook>
                <enabled>0</enabled>
                <app_id></app_id>
                <app_secret></app_secret>
            </facebook>
            <google>
                <enabled>0</enabled>
                <app_id></app_id>
                <app_secret></app_secret>
            </google>
            <vkontakte>
                <enabled>0</enabled>
                <app_id></app_id>
                <app_secret></app_secret>
            </vkontakte>
            <soundcloud>
                <enabled>0</enabled>
                <app_id></app_id>
                <app_secret></app_secret>
            </soundcloud>
        </devils_auth>
    </default>
</config>